/* .lc-slider {
    width: 100%;
    height: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
} */

.slider {
    -webkit-appearance: none; /* Override default CSS styles */
    appearance: none;
    width: 100%; /* Full-width */
    height: calc(var(--barSize) * 1px); /* Specified height */
    background: #d3d3d3; /* Grey background */
    outline: none; /* Remove outline */
    opacity: var(--opacity); /* Set transparency (for mouse-over effects on hover) */
    -webkit-transition: 0.2s; /* 0.2 seconds transition on hover */
    transition: opacity 0.2s;
    border-radius: 12px;
}

/* Mouse-over effects */
.slider:hover {
    opacity: 1; /* Fully shown on mouse-over */
}

/* The slider handle (use -webkit- (Chrome, Opera, Safari, Edge) and -moz- (Firefox) to override default look) */
.slider::-webkit-slider-thumb {
    -webkit-appearance: none; /* Override default look */
    appearance: none;
    width: 20px; /* Set a specific slider handle width */
    height: 20px; /* Slider handle height */
    background: var(--color); /* Background color*/
    cursor: pointer; /* Cursor on hover */
    border-radius: calc(var(--radius) * 1px);
    border: 1px solid #165DFF;
}

.slider::-moz-range-thumb {
    width: 20px; /* Set a specific slider handle width */
    height: 20px; /* Slider handle height */
    background: var(--color); /* Background color */
    cursor: pointer; /* Cursor on hover */
}

.lc-div {
    display: flex;
    justify-content: center;
    align-items: center;
}
