.editor-elements {
    padding: 5px;
    font-family: Consolas, serif;
    .element {
        text-align: center;
        width: auto;
        margin: 8px 8px 8px 31px;
        display: flex;
        align-items: center; 
        justify-content: center;
        cursor: pointer;
        overflow: hidden;
        text-overflow: ellipsis;
        background: #ddd;
        border-radius: 20%;
        &.active {
            background: rgba(66, 204, 255, 0.3);
            cursor: auto;
            user-select: none;
        }
    }
}

.arco-btn-long {
    width: 130px;
}
