.editor-content {
    padding: 10px;
    position: relative;
    height: 100%;

    &-header {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 60px;
        border-bottom: 1px solid #eee;
    }
}

.editor-body {
    display: flex;
    height: 100%;
    border: 5px;
    font-family: Consolas;

    &-pages {
        display: flex;
        flex-direction: column;
        width: auto;
        height: 100%;
        border: 1px groove black;

        .page {
            width: auto;
            height: 200px;
            border: 1px solid #eee;
            display: flex;
            align-items: center;
            justify-content: center;
            margin: 10px;
            cursor: pointer;
            &.active {
                border-color: #f00;
                cursor: auto;
                user-select: none;
            }
        }


        .add {
            width: 140px;
            height: 40px;
            border: 1px solid #eee;
            display: flex;
            align-items: center;
            justify-content: center;
            margin: 10px;
            cursor: pointer;
        }
    }
    &-elements {
        width: 10%;
        padding: 5px;
        
        .element {
            margin: 2px;
            display: flex;
            align-items: center; 
            justify-content: center;
            cursor: pointer;
            overflow: hidden;
            text-overflow: ellipsis;
            background: rgba(0, 0, 0, 0.3);
            border-radius: 10%;
            &.active {
                background: rgba(66, 204, 255, 0.3);
                cursor: auto;
                user-select: none;
            }
        }
    }
    &-page {
        position: relative;
        margin: 20px auto;
        width: 500px;
        height: 667px;
        box-sizing: border-box;
        border: 1px solid #eee;
        display: flex;
    }
}


.editor-content-header {
    display: flex;
    justify-content: left;
    align-items: center;
    padding: 0 20px;
    height: 50px;
    background: #fafafa;

    button {
        margin-left: 15px;
    }
}
