.editor-content {
    padding: 10px;
    position: relative;
    // height: 100%;
    background-color: rgb(245, 245, 245);
}

.editor-body {
    display: flex;
    width: 100%;
    height: 100%;
    border: 5px;
    font-family: Consolas;
    background-color: rgb(245, 245, 245);
    
    &-page {
        position: relative;
        margin: 20px auto;
        width: 1030px;
        height: 767px;
        box-sizing: border-box;
        background-color: #fff;
        // border: 1px solid #eee;
        box-shadow: 0 1px 0 #eee;
        border-radius: 3px;
        display: flex;
    }
}
