.lc-button {
    width: 100%;
    height: 100%;
    overflow: hidden;
    color: var(--color);
    text-overflow: ellipsis;
    text-align: center;
    border: 1px solid #ddd;
    background-color: var(--bgc);
    transition: all 0.1s linear;
}

button:hover {
    filter: brightness(85%);
}

button:active {
    transform: translateY(2px);
}